.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px 0 100px 0;
}

.pagination__item {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination__item--active {
    background-color: #4F77FF;
    color: #FFFFFF;
}